@font-face {font-family: "Minion Pro"; 
    src: url("//db.onlinewebfonts.com/t/fe9c236a1c142788cb16ec5238c7833e.eot"); 
    src: url("//db.onlinewebfonts.com/t/fe9c236a1c142788cb16ec5238c7833e.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/fe9c236a1c142788cb16ec5238c7833e.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/fe9c236a1c142788cb16ec5238c7833e.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/fe9c236a1c142788cb16ec5238c7833e.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/fe9c236a1c142788cb16ec5238c7833e.svg#Minion Pro") format("svg"); 
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    font-family: "Minion Pro";
    margin: 0px;
    padding: 0px;
    display: box;
}
.maincontent{
    width: 1300px;
    margin: auto;
}
header{
    background-color: rgba(140, 10, 13, 1);
    display: flex;
    padding: 15px 67px;
}
.logo{
    width: 177px;
    height: 41px;
}
.menu{
    margin:0px 95px ;
}
.menu a{ 
    color: #FFE394;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
.menu ul{
    padding: 0px;
}
.menu ul li{
    list-style: none;
    padding-left: 25px;
    display: inline-block;
}
.menu ul li:first-child{
    padding-left: 0px;
}
.lang{
    font-size: 14px;
    padding: 10px 0px;
    float:right;
    vertical-align: middle;
}
.lang a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFE394;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}
.lang a:hover{
    text-decoration: underline;
}
.lang img{
    margin-right: 11px;
    height: 18px;
    width: 26px;
}
main{
    background-image: url('./img/bg2.png'),url('./img/bg1.png');
    color: black;
    padding: 25px 65px; 
}
/* banner image */
.banner{
    border: 4px inset rgba(53, 4, 12, 1);
    position: relative;
    height: 335px;
    width: 1170px;
}
button{
    position: absolute;
    top: 108px;
    left: 508px; 
    width: 191px;
    background-color: #F6CC79;
    font-family: "Minion Pro";
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #BF670D;
    cursor: pointer;
    padding: 5px;
}
.imgban{
    z-index: 1;
}
.bannertext{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30px;
    font-family: 'Open Sans';
    font-size: 60px;
    color: #35040C;
}
.left_arrow{
    position:absolute;
    top: 156px;
    left: 28px;
    z-index: 3;
}
.right_arrow{
    position:absolute;
    top: 156px;
    right: 28px;
    z-index: 3;
}
.dots{
    z-index: 5;
    position: absolute;
    top: 310px;
    text-align: center;
    width: 100%;
}
h3{
    font-weight: 800;
    font-size: 18px;
}
.content{
    display:flex;
    padding-top: 28px;
    font-size: 16px;
}
.content > div{
    width: 25%;
    padding-right: 25px;
    line-height: 24px;
}
.content div:last-child{
    width: 25%;
    padding-right: 0px;
 }

footer{
    background-color: rgba(140, 10, 13, 1);
    display: flex;
    padding: 13px 68px;
    color: #FFE394;
    font-size: 14px;
    position: relative;
}
footer div{
    width: 25%;
    display: inline-block;
    float: left;
    padding-right: 25px;
    line-height: 1.5;
}
.email{
    padding: 0px;
    font-weight: bold;
}
.email a{
    color: #FFE394;
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: none; 
}
.email a:hover{
    text-decoration: underline;
}
.addr{
    font-weight: bold;
}
.href a{ 
    color: #FFE394;
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: bold;
}
.href a:hover{
    text-decoration: underline;
}
footer ul{
    margin: 0px;
    padding-left: 25px;
}
footer ul a{
    color: #FFE394;
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: none;
}
footer ul a:hover{
    text-decoration: underline;
}
footer ul li{
    list-style: none inside none;
    margin: 0px;
}
footer ul li:first-child{
    list-style: "тел. ";    
    margin: 0px;
}
.facebook{
    position: absolute;
    left: 1165px;
    top: 22px;
}
.vk{
    position: absolute;
    left: 1206px;
    top: 22px;
}
