body{
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: silver;
}
main{
    height: 600px;
    width: 500px;
    background-color: white;
    margin: 15px auto;
    border-radius: 15px;
    position: relative;
}
.form-text{
    text-align: center;
    padding: 50px 10px;
    font-size: 30px;
    font-weight: 600;
}
.login-form{
    width: 100%;
    display: inline;
    padding: 0px 15px;
    text-align: center;
}

.email, .pwd{
    text-align: center;
    margin: 50px 60px;    
    border-bottom: 1px solid rgba(35, 33, 28, .5);
}

.button-block {
    padding: 0px 60px;
    text-align: center;
    margin: 50px 60px;    
}
* > input[type=text], * > input[type=password]{
    border: 0px;
    background-color: transparent;
    outline: none;
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding: 15px 0px;
}
input[type=password]{
    background: url(./img/pwd-eye.png)  no-repeat center right 0px;
    background-size: 20px;
    cursor: pointer;    
}
* >input[type=submit]{
    margin: 15px 0px;
    position: relative;
    padding: 15px 45px;
    background-color: #135ec5;
    color: white;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    color: #f3f1f1;
    background-color: #a96116;
    background-image: linear-gradient(to right, #4fc0ff, #c71aca);
    box-shadow: 0px 0px 10px 2px rgba(230, 130, 194, 0.85);
    width: 100%;
}

.reg{
    color: #3c3c3c;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 20px 0px;
    width: 100%;
}

a:link, a:visited{
    text-decoration: none;
    color: #3c3c3c;
}
a:hover{
    text-decoration: underline;
    font-weight: 600;
}
